.body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: auto;
}

/* Style the header element */
.header {
  background-image: url('../image/background.jpg');
  background-color: #333;
  color: white;
  padding: 20px;
}

/* Style the title and subtitle elements */
.title {
  font-size: 36px;
}

.subtitle {
  font-size: 18px;
}

/* Style the nav element */
.nav {
  background-color: #f0f0f0;
}

/* Style the menu list */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the menu items */
.menu li {
  display: inline-block;
}

/* Style the menu links */
.menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

/* Change the color of menu links on hover */
.menu a:hover {
  background-color: #333;
  color: white;
}

/* Style the main element */
.main {
  width: 70%;
  float: left;
}

/* Style the article element */
.article {
  padding: 20px;
}

/* Style the section headings */
.article h2 {
  color: #333;
}


/* Style the footer element */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 16px;
}

.Button{
  text-align:center;
  width:100px;
  height:50px;
  margin-left: 50%;
}
.textarea{
  margin-left: 55px;
  width: 400px;
  height: 50px;
  max-lines: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

